body{
	//background-color: #800000;
	background-image: linear-gradient(maroon,white,maroon);
	background-repeat: no-repeat;
	background-size: 100% 200%;
}
.dice{
	display: inline-block;
}
h1{
	color: white;
}
.img1,.img2{
	border-radius: 11px;
	height: 100px;
	width: 100px;
	margin: 30px;
}
p{
	color: white;
	font-size: 20px;
	font-weight: bold;
}	
button{
	height: 40px;
	width: 200px;
	border-radius: 7px;
	color: maroon;
	font-size: 25px;
}
button:hover{
	background-color: green;
	color: white;
}